{% extends 'pages/base.html' %}
{% block content %}
    <p> Do you really want to delete <strong> {{object.title}} </strong> </p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit"> confirm </button>
    </form>
{% endblock content %}