{% extends 'pages/base.html' %}
{% block content %}
    <h1> {{object.id}}-{{object.title}} </h1>
    <p> Are you sure tou want to  delete this course </p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit"> Delete </button>
    </form>

{% endblock content %}