{% extends 'pages/base.html' %}
{% block content %}

<h1> Update {{object.id}} - {{object.title}} </h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit"> Update </button>
    </form>

{% endblock content %}