{% extends 'pages/base.html' %}
{% block content %}

    <form method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit"> Create </button>
    </form>

{% endblock content %}