{% extends 'pages/base.html' %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit"> Create </button>
    </form>

{% endblock content %}