{% extends 'pages/base.html' %}
{% block content %}

    <form method="POST">
        {% csrf_token %}
        <p><small> Are you sure you want to delete this product ? </small></p>
        <button type="submit"> confirm </button>
    </form>

{% endblock content %}