{% extends 'pages/base.html' %}

{% block content %}
    {% for item in object %}
    <h1> <a href="{{ item.get_absolute_url }}"> {{ item.title }} </a> </h1>
    <h3> {{ item.description }} </h3>
    {% endfor %}
{% endblock content %}